---
const pageTitle = "关于我";
const identity = {
  firstName: "莎拉",
  country: "加拿大",
  occupation: "技术撰稿人",
  hobbies: ["摄影", "观鸟", "棒球"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">主页</a>
    <a href="/about">{pageTitle}</a>
    <a href="/blog">博客</a>
    <h1>{pageTitle}</h1>
    <p>以下是关于我的几个事实</p>
    <ul>
      <li>我的名字是{identity.firstName}</li>
      <li>我来自{identity.country}</li>
      <li>我是{identity.occupation}</li>
      <li>我喜欢{identity.hobbies.join("、")}</li>
    </ul>
  </body>
</html>
